# Target API Backend
REACT_APP_BACKEND_URL=http://localhost:5000
REACT_APP_SOCKET_URL=http://localhost:5000

# Cloud configurations (browser fallbacks)
REACT_APP_CAMERA_MODE=local
REACT_APP_TTS_MODE=local
